<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Cadastro ONG</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</script>

    </head>
    <body> 
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Informações da ONG</h1>
            </div>
        </div>
        <div class="container">
          <section>
            <% if(erros){ %>
            <ul>
              <% for(let i = 0; i < erros.length; i++){ %>
              <li>
                <%= erros[i].msg %>
              </li>
              <% } %>
            </ul>
            <% } %>
          </section>
      </div>
        <div class="container">
            <form action="/ONG/salvar" method="post">
              <div class="form-row">
                <div class="form-group col-md-7">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" name="nome" value="<%= ong.nome %>">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-5">
                  <label for="endereco">Endereço</label>
                  <input type="text" class="form-control" name="endereco" placeholder="Endereço da ONG" value="<%= ong.endereco %>">
                </div>
                <div class="form-group col-md-2">
                  <label for="telefone">Telefone</label>
                  <input type="text" class="form-control" name="telefone" placeholder="(99) 99999-9999" value="<%= ong.telefone %>">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-2">
                  <label for="estado">Estado</label>
                  <select name="estado" id="estado" class="form-control" value="<%= ong.estado %>">
                    <option selected>...</option>
                    <option value="SP">SP</option>
                    <option value="SP">RJ</option>
                    <option value="SP">ES</option>
                    <option value="SP">MG</option>
                  </select>
                </div>
                <div class="form-group col-md-5">
                  <label for="cidade">Cidade</label>
                  <input type="text" id="cidade" class="form-control" name="cidade" value="<%= ong.cidade %>">
                </div>
              </div>
                <button type="submit" class="btn btn-success" value="enviar">Cadastrar</button>
            </form>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>